<div id="area">
		<div id="cube">
			<div class="side front2"></div>
			<div class="side front">6</div>
			<div class="side back2"></div>
			<div class="side back">3</div>
			<div class="side bottom2"></div>
			<div class="side bottom">5</div>
			<div class="side top2"></div>
			<div class="side top">2</div>
			<div class="side right2"></div>
			<div class="side right">4</div>
			<div class="side left2"></div>
			<div class="side left">1</div>
            <div class="corners left">
			    <div class="cornerwrapper ftl"><div class="corner"></div></div>
			    <div class="cornerwrapper btr"><div class="corner"></div></div>
			    <div class="cornerwrapper fbl"><div class="corner"></div></div>
			    <div class="cornerwrapper bbr"><div class="corner"></div></div>
            </div>
            <div class="corners right">
			    <div class="cornerwrapper ftl"><div class="corner"></div></div>
			    <div class="cornerwrapper btr"><div class="corner"></div></div>
			    <div class="cornerwrapper fbl"><div class="corner"></div></div>
			    <div class="cornerwrapper bbr"><div class="corner"></div></div>
            </div>
		</div>
    </div>
    
